# Ignore Node.js modules
node_modules/

# Ignore any built files or directories
dist/
build/

# Ignore any logs or temporary files
*.log
*.tmp

# Ignore any IDE or editor specific files
.vscode/

# Ignore npm debug log
npm-debug.log*

# Ignore package-lock.json
package-lock.json

# Ignore any environment-specific files
.env
.env.local
.env.*.local

# Ignore any user-specific files
.DS_Store
